<div style="margin: 100px;">
<mat-grid-list cols="4"  gutterSize="10px">
    <mat-grid-tile  *ngFor= "let item of SearchResult">
        <img src="{{item.img}}"/>
        <mat-grid-tile-footer>
            
             <p>  {{item.price | currency:'INR'}} </p>          
                 
        </mat-grid-tile-footer>
    </mat-grid-tile>        
    
</mat-grid-list>
</div>

<style>
    img {
        max-height: 200%;
        max-width: none;
        height: 50%;
    }
img:hover {
  
        transform: scale(1.5);
        /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
</style>