<!-- <div style="margin: 100px;">
<mat-grid-list cols="4"  gutterSize="10px">
    <mat-grid-tile  *ngFor= "let item of SearchResult">
        <img src="{{item.img}}"/>
        <mat-grid-tile-footer>
            
             <p>  {{item.price | currency:'INR' | space}}
                  </p>          
                 
        </mat-grid-tile-footer>
    </mat-grid-tile>        
    
</mat-grid-list>
</div>

<style>
    img {
        max-height: 200%;
        max-width: none;
        height: 50%;
    }
img:hover {
  
        transform: scale(1.5);
        /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
</style> -->
<div class="container">
    <div class="row">
        <div class="col-md-4 col-7" *ngFor= "let item of SearchResult">
            <img src="{{item.img}}" class="img-fluid"/>
            <p class="desc">These are search results</p>
            <p class="price">{{item.price | currency:'INR' | space}}</p>
            <div class="col-md-4 col-12"><hr></div>
         </div>
</div> 
</div>  
    
    

