<button  mat-button color="warn" (click)="ClearCart()" style="float: right;">Clear Cart</button>
<mat-grid-list cols="2" rowHeight="35vh" *ngFor="let x of items">
    <mat-grid-tile><img src="{{x.img}}"/> </mat-grid-tile>
        <mat-grid-tile>
            <ul>
            <li>  {{x.price | currency:'INR'}} </li>
            <li>  Quantity-{{x.Quantity}} </li>        
        </ul>  
      
       </mat-grid-tile>
    
</mat-grid-list>
    
    <style>
        img {
            max-height: 200%;
            max-width: none;
            height: 50%;
            cursor: pointer;
        }
        mat-grid-tile,
    mat-grid-list {

        width: 50%;
    }
    
    </style>
