<div style="align-content:center;width :100%;">
    <ngb-carousel>
        <ng-template ngbSlide *ngFor="let x of slides">
            <div class="wrapper">
                <img [src]="x" style="width: 100%; height: 50vh" alt="Random first slide">
            </div>
        </ng-template>
    </ngb-carousel>
    <div fxLayout="row" style="display:flex; flex-direction: row;  padding: 16px; width: 100%;">
        <div>
            <mat-card style=" width: 300px;">
                <h1>Top picks for your home</h1>
                <mat-grid-list cols="2">
                    <mat-grid-tile><img src="{{showinGrid[0].img}}" (click)="LoadSubCategory(showinGrid[0].subcategory)" /></mat-grid-tile>
                    <mat-grid-tile><img src="{{showinGrid[1].img}}" (click)="LoadSubCategory(showinGrid[1].subcategory)"/></mat-grid-tile>
                    <mat-grid-tile><img src="{{showinGrid[2].img}}" (click)="LoadSubCategory(showinGrid[2].subcategory)"/></mat-grid-tile>
                    <mat-grid-tile><img src="{{showinGrid[3].img}}" (click)="LoadSubCategory(showinGrid[3].subcategory)"/></mat-grid-tile>

                </mat-grid-list>
                <button mat-button color="warn" style="float: right;"><a [routerLink]="'/products'">View
                        More...</a></button>
                        
            </mat-card>
        </div>

        <div>
            <mat-card style=" width: 300px;">
                <h1>Top picks from Fashion</h1>
                <mat-grid-list cols="2">
                    <mat-grid-tile><img src="{{showinGrid[4].img}}" (click)="LoadSubCategory(showinGrid[4].subcategory)" /></mat-grid-tile>
                    <mat-grid-tile><img src="{{showinGrid[5].img}}" (click)="LoadSubCategory(showinGrid[5].subcategory)"/></mat-grid-tile>
                    <mat-grid-tile><img src="{{showinGrid[6].img}}" (click)="LoadSubCategory(showinGrid[6].subcategory)"/></mat-grid-tile>
                    <mat-grid-tile><img src="{{showinGrid[7].img}}" (click)="LoadSubCategory(showinGrid[7].subcategory)"/></mat-grid-tile>

                </mat-grid-list>
                <button mat-button color="warn" style="float: right;"><a [routerLink]="'/products'">View
                        More...</a></button>
            </mat-card>
        </div>

        <div>
            <mat-card style=" width: 300px;">
                <h1>Top picks from Mobile</h1>
                <mat-grid-list cols="2">
                    <mat-grid-tile><img src="{{showinGrid[8].img}}" (click)="LoadSubCategory(showinGrid[8].subcategory)"/></mat-grid-tile>
                    <mat-grid-tile><img src="{{showinGrid[9].img}}" (click)="LoadSubCategory(showinGrid[9].subcategory)"/></mat-grid-tile>
                    <mat-grid-tile><img src="{{showinGrid[10].img}}" (click)="LoadSubCategory(showinGrid[10].subcategory)"/></mat-grid-tile>
                    <mat-grid-tile><img src="{{showinGrid[11].img}}" (click)="LoadSubCategory(showinGrid[11].subcategory)"/></mat-grid-tile>

                </mat-grid-list>
                <button mat-button color="warn" style="float: right;"><a [routerLink]="'/products'">View
                        More...</a></button>
            </mat-card>
        </div>

        <div>
            <mat-card style=" width: 300px;">
                <h1>Top picks from Laptops</h1>
                <mat-grid-list cols="2">
                    <mat-grid-tile><img src="{{showinGrid[12].img}}" (click)="LoadSubCategory(showinGrid[12].subcategory)"/></mat-grid-tile>
                    <mat-grid-tile><img src="{{showinGrid[13].img}}"(click)="LoadSubCategory(showinGrid[13].subcategory)" /></mat-grid-tile>
                    <mat-grid-tile><img src="{{showinGrid[14].img}}" (click)="LoadSubCategory(showinGrid[14].subcategory)"/></mat-grid-tile>
                    <mat-grid-tile><img src="{{showinGrid[15].img}}" (click)="LoadSubCategory(showinGrid[15].subcategory)"/></mat-grid-tile>

                </mat-grid-list>
                <button mat-button color="warn" style="float: right;"><a [routerLink]="'/products'">View
                        More...</a></button>
            </mat-card>
        </div>
    </div>

    <div fxLayout="row" style="display:flex; flex-direction: row;  padding: 16px;width: 100%;">
        <div>
            <mat-card style=" width: 300px;">
                <h1>Top picks for your home</h1>
                <mat-grid-list cols="2">
                    <mat-grid-tile><img src="{{showinGrid[0].img}}" (click)="LoadSubCategory(showinGrid[0].subcategory)" /></mat-grid-tile>
                    <mat-grid-tile><img src="{{showinGrid[1].img}}" (click)="LoadSubCategory(showinGrid[1].subcategory)"/></mat-grid-tile>
                    <mat-grid-tile><img src="{{showinGrid[2].img}}" (click)="LoadSubCategory(showinGrid[2].subcategory)"/></mat-grid-tile>
                    <mat-grid-tile><img src="{{showinGrid[3].img}}" (click)="LoadSubCategory(showinGrid[3].subcategory)"/></mat-grid-tile>

                </mat-grid-list>
                <button mat-button color="warn" style="float: right;" (click)="LoadSubCategory(showinGrid)"><a>View
                        More...</a></button>
                        
            </mat-card>
        </div>

        <div>
            <mat-card style=" width: 300px;">
                <h1>Top picks from Fashion</h1>
                <mat-grid-list cols="2">
                    <mat-grid-tile><img src="{{showinGrid[4].img}}" (click)="LoadSubCategory(showinGrid[4].subcategory)"/></mat-grid-tile>
                    <mat-grid-tile><img src="{{showinGrid[5].img}}" (click)="LoadSubCategory(showinGrid[5].subcategory)"/></mat-grid-tile>
                    <mat-grid-tile><img src="{{showinGrid[6].img}}"(click)="LoadSubCategory(showinGrid[6].subcategory)" /></mat-grid-tile>
                    <mat-grid-tile><img src="{{showinGrid[7].img}}"(click)="LoadSubCategory(showinGrid[7].subcategory)" /></mat-grid-tile>

                </mat-grid-list>
                <button mat-button color="warn" style="float: right;"><a [routerLink]="'/products'">View
                        More...</a></button>
            </mat-card>
        </div>

        <div>
            <mat-card style=" width: 300px;">
                <h1>Top picks from Mobile</h1>
                <mat-grid-list cols="2">
                    <mat-grid-tile><img src="{{showinGrid[8].img}}" (click)="LoadSubCategory(showinGrid[8].subcategory)"/></mat-grid-tile>
                    <mat-grid-tile><img src="{{showinGrid[9].img}}" (click)="LoadSubCategory(showinGrid[9].subcategory)"/></mat-grid-tile>
                    <mat-grid-tile><img src="{{showinGrid[10].img}}" (click)="LoadSubCategory(showinGrid[10].subcategory)"/></mat-grid-tile>
                    <mat-grid-tile><img src="{{showinGrid[11].img}}" (click)="LoadSubCategory(showinGrid[11].subcategory)"/></mat-grid-tile>

                </mat-grid-list>
                <button mat-button color="warn" style="float: right;"><a [routerLink]="'/products'">View
                        More...</a></button>
            </mat-card>
        </div>

        <div>
            <mat-card style=" width: 300px;">
                <h1>Top picks from Laptops</h1>
                <mat-grid-list cols="2">
                    <mat-grid-tile><img src="{{showinGrid[12].img}}" (click)="LoadSubCategory(showinGrid[12].subcategory)"/></mat-grid-tile>
                    <mat-grid-tile><img src="{{showinGrid[13].img}}" (click)="LoadSubCategory(showinGrid[13].subcategory)"/></mat-grid-tile>
                    <mat-grid-tile><img src="{{showinGrid[14].img}}"(click)="LoadSubCategory(showinGrid[14].subcategory)" /></mat-grid-tile>
                    <mat-grid-tile><img src="{{showinGrid[15].img}}" (click)="LoadSubCategory(showinGrid[15].subcategory)"/></mat-grid-tile>

                </mat-grid-list>
                <button mat-button color="warn" style="float: right;"><a [routerLink]="'/products'">View
                        More...</a></button>
            </mat-card>
        </div>
           </div>
    <div fxLayout="row" style="display:flex; flex-direction: row;  padding: 16px; width: 100%;">
        <div>
            <h1>Todays Deals</h1>
        </div>
    </div>
</div>
<style>
    .mat-grid-tile {
        border: 5px;
        border-style: ridge;
        width: "25px";
        height: "25px";
        border-color: rgb(248, 243, 243);

    }

    img {
        max-height: 200%;
        height: 75%;
        max-width: none;
    }
</style>