<div style="align-content:center;width :100%;">
    <ngb-carousel>
        <ng-template ngbSlide *ngFor="let x of slides">
            <div class="wrapper">
                <img [src]="x" style="width: 100%; height: 50vh" alt="Random first slide">
            </div>
        </ng-template>
    </ngb-carousel>

    <div class="container">
        <div class="row">
            <div class="col-3">
                <h4>Top Picks From {{showinGrid[0].category}}</h4>  
        <div class="card mx-auto">
            
            <div class="card-block">
                <div class="row">
                    
                        <div class="col"><img src="{{showinGrid[0].img}}" 
                            (click)="LoadSubCategory(showinGrid[0].subcategory)" /><br>
                            {{showinGrid[0].subcategory}}</div>
                        <div class="col"><img src="{{showinGrid[1].img}}" 
                            (click)="LoadSubCategory(showinGrid[1].subcategory)" /><br>
                            {{showinGrid[1].subcategory}}</div>
                        <div class="w-100"></div>
                        <div class="col"><img src="{{showinGrid[2].img}}" 
                            (click)="LoadSubCategory(showinGrid[2].subcategory)" />
                            <br>{{showinGrid[2].subcategory}}</div>
                        <div class="col"><img src="{{showinGrid[3].img}}" 
                            (click)="LoadSubCategory(showinGrid[3].subcategory)" /><br>
                            {{showinGrid[3].subcategory}}</div>
                      
                 </div>   
            </div>        
        </div>
        
            </div>   
            <div class="col-3">
                <h4>Top Picks From {{showinGrid[4].category}}</h4>  
        <div class="card">
            
            <div class="card-block">
                <div class="row">
                    
                        <div class="col"><div class="photo-box"><img src="{{showinGrid[4].img}}" 
                            (click)="LoadSubCategory(showinGrid[4].subcategory)" /><br>{{showinGrid[4].subcategory}}</div></div>
                        <div class="col"><img src="{{showinGrid[5].img}}" 
                            (click)="LoadSubCategory(showinGrid[5].subcategory)" /><br>{{showinGrid[5].subcategory}}</div>
                        <div class="w-100"></div>
                        <div class="col"><img src="{{showinGrid[6].img}}" 
                            (click)="LoadSubCategory(showinGrid[6].subcategory)" /><br>{{showinGrid[6].subcategory}}</div>
                        <div class="col"><img src="{{showinGrid[7].img}}" 
                            (click)="LoadSubCategory(showinGrid[7].subcategory)" /><br>{{showinGrid[7].subcategory}}</div>
                      
                 </div>   
            </div>        
        </div>
        
            </div>
            <div class="col-3">
                <h4>Top Picks From {{showinGrid[8].category}}</h4>  
        <div class="card">
            
            <div class="card-block">
                <div class="row">
                    
                        <div class="col"><div class="photo-box"><img src="{{showinGrid[8].img}}" 
                            (click)="LoadSubCategory(showinGrid[8].subcategory)" /><br>{{showinGrid[8].subcategory}}</div></div>
                        <div class="col"><img src="{{showinGrid[9].img}}" 
                            (click)="LoadSubCategory(showinGrid[9].subcategory)" /><br>{{showinGrid[9].subcategory}}</div>
                        <div class="w-100"></div>
                        <div class="col"><img src="{{showinGrid[10].img}}" 
                            (click)="LoadSubCategory(showinGrid[10].subcategory)" /><br>{{showinGrid[10].subcategory}}</div>
                        <div class="col"><img src="{{showinGrid[11].img}}" 
                            (click)="LoadSubCategory(showinGrid[11].subcategory)" /><br>{{showinGrid[11].subcategory}}</div>
                      
                 </div>   
            </div>        
        </div>
        
            </div>    
            <div class="col-3">
                <h4>Top Picks From {{showinGrid[12].category}}</h4>  
        <div class="card">
            
            <div class="card-block">
                <div class="row">
                    
                        <div class="col"><div class="photo-box"><img src="{{showinGrid[12].img}}" 
                            (click)="LoadSubCategory(showinGrid[12].subcategory)" /><br>{{showinGrid[12].subcategory}}</div></div>
                        <div class="col"><img src="{{showinGrid[13].img}}" 
                            (click)="LoadSubCategory(showinGrid[13].subcategory)" /><br>{{showinGrid[13].subcategory}}</div>
                        <div class="w-100"></div>
                        <div class="col"><img src="{{showinGrid[14].img}}" 
                            (click)="LoadSubCategory(showinGrid[14].subcategory)" /><br>{{showinGrid[14].subcategory}}</div>
                        <div class="col"><img src="{{showinGrid[15].img}}" 
                            (click)="LoadSubCategory(showinGrid[15].subcategory)" /><br>{{showinGrid[15].subcategory}}</div>
                      
                 </div>   
            </div>        
        </div>
        
            </div>                
                    
        </div>

    </div>        
    <!-- <div class='container'>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="container">
                        <p class="font-weight-bolder h6">Top picks from Home</p>
                        <div class="row">
                            <div class="col"><img src="{{showinGrid[0].img}}" class="img-fluid"
                                    (click)="LoadSubCategory(showinGrid[0].subcategory)" />{{showinGrid[0].subcategory}}
                            </div>
                            <div class="col"><img src="{{showinGrid[1].img}}" class="img-fluid"
                                    (click)="LoadSubCategory(showinGrid[1].subcategory)" />{{showinGrid[1].subcategory}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"><img src="{{showinGrid[2].img}}" class="img-fluid"
                                    (click)="LoadSubCategory(showinGrid[2].subcategory)" />{{showinGrid[2].subcategory}}
                            </div>
                            <div class="col"><img src="{{showinGrid[3].img}}" class="img-fluid"
                                    (click)="LoadSubCategory(showinGrid[3].subcategory)" />{{showinGrid[3].subcategory}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card"><div class="container">
                    <p class="font-weight-bolder h6">Top picks from Home</p>
                    <div class="row">
                        <div class="col"><img src="{{showinGrid[4].img}}" class="img-fluid"
                                (click)="LoadSubCategory(showinGrid[4].subcategory)" />{{showinGrid[4].subcategory}}
                        </div>
                        <div class="col"><img src="{{showinGrid[5].img}}" class="img-fluid"
                                (click)="LoadSubCategory(showinGrid[5].subcategory)" />{{showinGrid[5].subcategory}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col"><img src="{{showinGrid[6].img}}" class="img-fluid"
                                (click)="LoadSubCategory(showinGrid[6].subcategory)" />{{showinGrid[6].subcategory}}
                        </div>
                        <div class="col"><img src="{{showinGrid[7].img}}" class="img-fluid"
                                (click)="LoadSubCategory(showinGrid[7].subcategory)" />{{showinGrid[7].subcategory}}
                        </div>
                    </div>
                </div></div>
            </div>
            <div class="col">
                <div class="card"><div class="container">
                    <p class="font-weight-bolder h6">Top picks from Home</p>
                    <div class="row">
                        <div class="col"><img src="{{showinGrid[8].img}}" class="img-fluid"
                                (click)="LoadSubCategory(showinGrid[8].subcategory)" />{{showinGrid[8].subcategory}}
                        </div>
                        <div class="col"><img src="{{showinGrid[9].img}}" class="img-fluid"
                                (click)="LoadSubCategory(showinGrid[9].subcategory)" />{{showinGrid[9].subcategory}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col"><img src="{{showinGrid[10].img}}" class="img-fluid"
                                (click)="LoadSubCategory(showinGrid[10].subcategory)" />{{showinGrid[10].subcategory}}
                        </div>
                        <div class="col"><img src="{{showinGrid[11].img}}" class="img-fluid"
                                (click)="LoadSubCategory(showinGrid[11].subcategory)" />{{showinGrid[11].subcategory}}
                        </div>
                    </div>
                </div></div>
            </div>
            <div class="col">
                <div class="card"><div class="container">
                    <p class="font-weight-bolder h6">Top picks from Home</p>
                    <div class="row">
                        <div class="col"><img src="{{showinGrid[12].img}}" class="img-fluid"
                                (click)="LoadSubCategory(showinGrid[12].subcategory)" />{{showinGrid[12].subcategory}}
                        </div>
                        <div class="col"><img src="{{showinGrid[13].img}}" class="img-fluid"
                                (click)="LoadSubCategory(showinGrid[13].subcategory)" />{{showinGrid[13].subcategory}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col"><img src="{{showinGrid[14].img}}" class="img-fluid"
                                (click)="LoadSubCategory(showinGrid[14].subcategory)" />{{showinGrid[14].subcategory}}
                        </div>
                        <div class="col"><img src="{{showinGrid[15].img}}" class="img-fluid"
                                (click)="LoadSubCategory(showinGrid[15].subcategory)" />{{showinGrid[15].subcategory}}
                        </div>
                    </div>
                </div></div>
            </div>
        </div>
    </div>


    <div fxLayout="row" style="display:flex; flex-direction: row;  padding: 16px; width: 100%;">
        <div>
            <h1>Todays Deals</h1>
        </div>
    </div>
</div>
<style>
    .row .col .card {
        overflow: hidden;

    }

    img {
        border: hidden;
        content: icon;
        max-width: 100%;
        width: none;
        overflow: hidden;
        cursor: pointer;


    }
</style> -->